/**
 * Place your custom CSS styles here.
 **/
.crypthover {
    visibility: hidden;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    background: white;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 8px;
    color: black;
}

.crypthover a.crypto-website {
    font-weight: bold;
}
